<div id="speiseplan-tabs">
    <div id="tab-menu-container" class="row">
        <div class="col-md-1 col-xs-6">
            <a class="prev-week" title="eine Woche zurück" href="/essen-trinken/speiseplaene/mensa-offenburg/?tx_swfrspeiseplan_pi1%5BweekToShow%5D=0&amp;tx_swfrspeiseplan_pi1%5Baction%5D=show&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=ad074b11cc01a680e4c0d0675dd1f91c"><img src="/fileadmin/templates/images/keil-grau-links.png" width="16" height="16" alt="" /><span class="d-inline d-sm-none">vorherige Woche</span></a>
        </div>
        <div class="col-md-10">
            <ul class="nav classic-tabs tabs-primary" role="tablist">
                <li class="col-md-2"><a href="#tab-mon" class="nav-link" data-toggle="tab" role="tab">Mo 09.03.</a></li>
                <li class="col-md-2"><a href="#tab-tue" class="nav-link active show" data-toggle="tab" role="tab">Di 10.03.</a></li>
                <li class="col-md-2"><a href="#tab-wed" class="nav-link" data-toggle="tab" role="tab">Mi 11.03.</a></li>
                <li class="col-md-2"><a href="#tab-thu" class="nav-link" data-toggle="tab" role="tab">Do 12.03.</a></li>
                <li class="col-md-2"><a href="#tab-fri" class="nav-link" data-toggle="tab" role="tab">Fr 13.03.</a></li>
                <li class="col-md-2"><a href="#tab-sat" class="nav-link" data-toggle="tab" role="tab">Sa 14.03.</a></li>
            </ul>
        </div>
        <div class="col-md-1 col-xs-6 pull-right"><a class="next-week text-right" title="eine Woche weiter" href="/essen-trinken/speiseplaene/mensa-offenburg/?tx_swfrspeiseplan_pi1%5BweekToShow%5D=2&amp;tx_swfrspeiseplan_pi1%5Baction%5D=show&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=3c3048ebdd7f42a104bd780a0a6a0fd1"><span class="d-inline d-sm-none">nächste Woche</span><img src="/fileadmin/templates/images/keil-grau-rechts.png" width="16" height="16" alt="" /></a></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <table class="table legende">
                <tr>
                    <td class="vegetarisch legend"></td>
                    <td class="legend-info">vegetarisch</td>
                </tr>
                <tr>
                    <td class="vegan legend"></td>
                    <td class="legend-info">vegan</td>
                </tr>
                <tr>
                    <td class="wunsch-vegan legend"></td>
                    <td class="legend-info">auf Wunsch vegan</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4 pt-3">
            <div class="hide-with-allergenes">
                <p><a download="Mensa_Offenburg_KW_11-2020.pdf" title="Wochenplan in Farbe herunterladen" target="_blank" href="/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=1&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=1&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdf&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=4de091579c564e42f79473da2701f179"><i class="fas fa-file-download" aria-hidden="true"></i> Wochenplan farbig</a></p>
                <p><a download="Mensa_Offenburg_KW_11-2020.pdf" title="Wochenplan in schwarz-weiß herunterladen" target="_blank" href="/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=1&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=0&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdf&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=84edf4562bdc95f103b70ef99e4d7af6"><i class="fas fa-file-download" aria-hidden="true"></i> Wochenplan s/w</a></p>
            </div>
            <div class="show-with-allergenes">
                <p><a download="Mensa_Offenburg_KW_11-2020.pdf" title="Wochenplan in Farbe herunterladen" target="_blank" href="/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=1&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=1&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdfAllergenes&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=51f0f1e0083f9ef48038920dfb676eb6"><i class="fas fa-file-download" aria-hidden="true"></i> Wochenplan farbig</a></p>
                <p><a download="Mensa_Offenburg_KW_11-2020.pdf" title="Wochenplan in schwarz-weiß herunterladen" target="_blank" href="/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=1&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=0&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdfAllergenes&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=c3a9d1eafce78d8f8d281c6060be989c"><i class="fas fa-file-download" aria-hidden="true"></i> Wochenplan s/w</a></p>
            </div>
        </div>
        <div class="col-sm-4 pt-3">
            <p class="hide-with-allergenes"><a href="#" data-toggle="modal" data-target="#allergenesModal"><i class="fas fa-redo-alt"></i> Allergiehinweise anzeigen</a></p>
            <p class="show-with-allergenes"><a href="#" class="btn-hide-allergenes"><i class="fas fa-undo-alt"></i> Allergiehinweise verbergen</a></p>
        </div>
    </div>
    <div class="tab-content">
        <div id="tab-mon" class="menu-tagesplan tab-pane fade">
            <h3>Montag 09.03.</h3>
            <div class="row vegetarisch mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 1</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Kartoffel-Frischkäsebratling
                    <br>Gemüseragout Toskana
                    <br>Beilagensalat
                    <br><span class="zusatzsstoffe show-with-allergenes">enthält Allergene: Se,Gl,GlW,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 2</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Schweineschnitzel Wiener Art
                    <br>Bratensauce
                    <br>Pommes frites
                    <br>Mixsalat
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: sch</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: sch<br>enthält Allergene: Gl,GlW,GlG</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Buffet</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Grill und Salatbar
                    <br>Asiatisches aus dem Wok
                    <br>Fleisch- und Fischspezialitäten
                    <br>Pasta-, Reis und Kartoffelvariationen
                    <br>Gemüse
                    <br>
                </div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>0,90 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>1,10 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>1,30 €<span class="tara"> / 100g</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-tue" class="menu-tagesplan tab-pane fade in show active">
            <h3>Dienstag 10.03.</h3>
            <div class="row wunsch-vegan mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 1</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Tortellini mit Gemüsefüllung
                    <br>Tomatensauce
                    <br>Geriebener Hartkäse
                    <br>Beilagensalat
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: 6</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: 6<br>enthält Allergene: Ei,Se,Gl,GlW,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 2</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Frikadelle
                    <br>Champignon-Rahmsauce
                    <br>Bauernspätzle
                    <br>Blattsalat
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: sch,ri</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: sch,ri<br>enthält Allergene: Ei,Gl,GlW,GlG,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Buffet</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Grill und Salatbar
                    <br>Asiatisches aus dem Wok
                    <br>Fleisch- und Fischspezialitäten
                    <br>Pasta-, Reis und Kartoffelvariationen
                    <br>Gemüse
                    <br>
                </div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>0,90 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>1,10 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>1,30 €<span class="tara"> / 100g</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-wed" class="menu-tagesplan tab-pane fade">
            <h3>Mittwoch 11.03.</h3>
            <div class="row wunsch-vegan mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 1</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Gebratener Gemüsereis Nasi Goreng
                    <br>Raita
                    <br>Mixsalat
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: 5</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: 5<br>enthält Allergene: So,Sn,Se,Gl,GlW,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 2</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Kalbsbratwurst
                    <br>Bratensauce
                    <br>Kartoffelbrei
                    <br>Apfelrotkraut
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: sch,5,6,8,ri</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: sch,5,6,8,ri<br>enthält Allergene: Sn,Se,Sf,Gl,GlW,GlG,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Buffet</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Grill und Salatbar
                    <br>Asiatisches aus dem Wok
                    <br>Fleisch- und Fischspezialitäten
                    <br>Pasta-, Reis und Kartoffelvariationen
                    <br>Gemüse
                    <br>
                </div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>0,90 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>1,10 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>1,30 €<span class="tara"> / 100g</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-thu" class="menu-tagesplan tab-pane fade">
            <h3>Donnerstag 12.03.</h3>
            <div class="row vegetarisch mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 1</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Spaghetti
                    <br>Chinagemüse
                    <br>Sauce süß-sauer
                    <br>Geriebener Hartkäse
                    <br>Mixsalat
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: 5,6</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: 5,6<br>enthält Allergene: Ei,Sn,Se,Sf,Gl,GlW,GlG,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 2</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Paniertes Seelachsfilet
                    <br>Sesam-Mayonnaise
                    <br>Salzkartoffeln
                    <br>Karottenmix mit Brokkoli und Bohnen
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: nF</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: nF<br>enthält Allergene: Ei,Sn,Fi,Sa,Gl,GlW</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Buffet</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Grill und Salatbar
                    <br>Asiatisches aus dem Wok
                    <br>Fleisch- und Fischspezialitäten
                    <br>Pasta-, Reis und Kartoffelvariationen
                    <br>Gemüse
                    <br>
                </div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>0,90 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>1,10 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>1,30 €<span class="tara"> / 100g</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-fri" class="menu-tagesplan tab-pane fade">
            <h3>Freitag 13.03.</h3>
            <div class="row vegetarisch mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 1</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Kartoffel-Gorgonzolagratin
                    <br>Brokkoligemüse
                    <br>Beilagensalat
                    <br><span class="zusatzsstoffe show-with-allergenes">enthält Allergene: ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Essen 2</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Hähnchenbrustfilet
                    <br>Apfel-Rahmsauce
                    <br>Mandelreis
                    <br>Karottengemüse
                    <br><span class="zusatzsstoffe hide-with-allergenes">Kennzeichnungen/Zusatzstoffe: 5</span><span class="zusatzsstoffe show-with-allergenes">Kennzeichnungen/Zusatzstoffe: 5<br>enthält Allergene: Gl,GlW,GlG,Nu,NM,ML</span></div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>3,05 €</td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>4,00 €</td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>5,40 €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row grey lighten-4 mb-2">
                <h4 class="col-md-3 col-sm-3 menu-header">Buffet</h4>
                <div class="col-md-5 col-sm-5 menu-info  {f:if(condition: menu.vegan, then: , else: 'bg-beige-hell')} ">
                    Grill und Salatbar
                    <br>Asiatisches aus dem Wok
                    <br>Fleisch- und Fischspezialitäten
                    <br>Pasta-, Reis und Kartoffelvariationen
                    <br>Gemüse
                    <br>
                </div>
                <div class="col-md-4 col-sm-4 menu-price">
                    <table class="table-sm">
                        <tr>
                            <td class="price-studierende">Studierende, Schüler</td>
                            <td>0,90 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-mitarbeiter">Mitarbeiter</td>
                            <td>1,10 €<span class="tara"> / 100g</span></td>
                        </tr>
                        <tr>
                            <td class="price-gaeste">Gäste</td>
                            <td>1,30 €<span class="tara"> / 100g</span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="tab-sat" class="menu-tagesplan tab-pane fade">
            <h3>Samstag 14.03.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben"><i class="glyphicons glyphicons-circle-info"></i></div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4 class="grau">Kennzeichnungen/Zusatzstoffe</h4>
        <dl class="dl-horizontal menu-zusatzstoffe grau"><dt>nF</dt>
            <dd>aus nachhaltigem Fischfang</dd><dt>ri</dt>
            <dd>mit Rindfleisch</dd><dt>sch</dt>
            <dd>mit Schwein</dd><dt>4</dt>
            <dd>mit Farbstoff</dd><dt>5</dt>
            <dd>mit Antioxidationsmittel</dd><dt>6</dt>
            <dd>mit Konservierungsstoff</dd><dt>8</dt>
            <dd>mit Phosphat</dd>
        </dl>
    </div>
    <div class="col-sm-6 show-with-allergenes"><div id="c5219" class="csc-default ortsfilter-show ">
        <h4 class="grau">Allergene</h4>
        <dl class="dl-horizontal menu-zusatzstoffe grau"><dt>Ei</dt>
            <dd>Eier</dd><dt>Fi</dt>
            <dd>Fisch</dd><dt>Gl</dt>
            <dd>GLUTENHALTIGES Getreide</dd><dt>GlG</dt>
            <dd>Gerste</dd><dt>GlH</dt>
            <dd>Hafer</dd><dt>GlW</dt>
            <dd>Weizen</dd><dt>ML</dt>
            <dd>Milch /-erzeugnisse</dd><dt>NM</dt>
            <dd>Mandel</dd><dt>Nu</dt>
            <dd>SCHALENFRÜCHTE/Nüsse</dd><dt>Sa</dt>
            <dd>Sesam</dd><dt>Se</dt>
            <dd>Sellerie</dd><dt>Sf</dt>
            <dd>Schwefeldioxid/Sulfite</dd><dt>Sn</dt>
            <dd>Senf</dd><dt>So</dt>
            <dd>Soja</dd>
        </dl>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="allergenesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Allergikerspeiseplan</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <p>Die Angaben über die Inhaltsstoffe der Speisen beruhen auf Rezepturen, einzelnen Zutaten und den Informationen, die wir von den Herstellern und Lieferanten der einzelnen Speisezutaten erhalten. Da die Hersteller selten nur ein Produkt herstellen und vertreiben, kann nie ganz ausgeschlossen werden, dass auch Anteile von nicht aufgeführten Inhaltsstoffen in den Produkten enthalten sind.</p>
                    <p>Des Weiteren bringt es die handwerkliche Verarbeitung und Behandlung von Lebensmitteln in Großküchen mit sich, dass bei der Zusammenführung der verschiedenen Speisekomponenten eine ungewollte Vermischung auftreten kann und damit verbunden, der Übergang geringer Mengen von weiteren Stoffen, die Allergien und Unverträglichkeiten auslösen können. Diese Spuren sind in der Kennzeichnung nicht berücksichtigt.</p>
                    <p>Aus diesem Grund müssen Allergiker/innen beachten, dass in den angebotenen Speisen neben den gekennzeichneten noch weitere allergieauslösende Inhaltsstoffe enthalten sein können. Das Studierendenwerk Freiburg schließt daher jegliche Haftung aufgrund von nicht rezeptürlichen Bestandteilen der Speisen aus. </p>
                    <p>Bitte beachten Sie beim Wochenplan: Die Allergenkennzeichnung kann sich bis zum Ausgabetag ändern, Richtigkeit wird nur im aktuellen Tagesplan gewährleistet.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn btn-primary btn-show-allergenes">Ich habe die Nutzungsbedingungen verstanden und möchte den Allergikerspeiseplan sehen.</button>
                </div>
            </div>
        </div>
    </div>
</div>
