<div id="speiseplan-tabs">
    <div id="tab-menu-container" class="row">
        <div class="col-md-1 col-xs-6"></div>
        <div class="col-md-10">
            <ul class="nav classic-tabs tabs-primary" role="tablist">
                <li class="col-md-2"><a href="#tab-mon" class="nav-link" data-toggle="tab" role="tab">Mo 12.08.</a></li>
                <li class="col-md-2"><a href="#tab-tue" class="nav-link" data-toggle="tab" role="tab">Di 13.08.</a></li>
                <li class="col-md-2"><a href="#tab-wed" class="nav-link" data-toggle="tab" role="tab">Mi 14.08.</a></li>
                <li class="col-md-2"><a href="#tab-thu" class="nav-link" data-toggle="tab" role="tab">Do 15.08.</a></li>
                <li class="col-md-2"><a href="#tab-fri" class="nav-link active show" data-toggle="tab" role="tab">Fr
                    16.08.</a></li>
                <li class="col-md-2"><a href="#tab-sat" class="nav-link" data-toggle="tab" role="tab">Sa 17.08.</a></li>
            </ul>
        </div>
        <div class="col-md-1 col-xs-6 pull-right">
            <a class="next-week text-right" title="eine Woche weiter"
               href="https://www.swfr.de/de/essen-trinken/speiseplaene/mensa-offenburg/?tx_swfrspeiseplan_pi1%5BweekToShow%5D=1&amp;tx_swfrspeiseplan_pi1%5Baction%5D=show&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=fab2e8b1bae3cdd249ace0e5d67c1c7e"><span
                    class="d-inline d-sm-none">nächste Woche</span><img
                    src="Mensa_empty-week-Dateien/keil-grau-rechts.png" alt="" width="16" height="16"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <table class="table legende">
                <tbody>
                <tr>
                    <td class="vegetarisch legend"></td>
                    <td class="legend-info">vegetarisch</td>
                </tr>
                <tr>
                    <td class="vegan legend"></td>
                    <td class="legend-info">vegan</td>
                </tr>
                <tr>
                    <td class="wunsch-vegan legend"></td>
                    <td class="legend-info">auf Wunsch vegan</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 pt-3">
            <div class="hide-with-allergenes">
                <p><a download="_KW_33-2019.pdf" title="Wochenplan in Farbe herunterladen" target="_blank"
                      href="https://www.swfr.de/de/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=0&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=1&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdf&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=9c8a69897ba4f187d21b350d48473425"><i
                        class="fas fa-file-download" aria-hidden="true"></i> Wochenplan farbig</a></p>
                <p><a download="_KW_33-2019.pdf" title="Wochenplan in schwarz-weiß herunterladen" target="_blank"
                      href="https://www.swfr.de/de/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=0&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=0&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdf&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=3e887f29d8cf2a15bd54620c56f43e02"><i
                        class="fas fa-file-download" aria-hidden="true"></i> Wochenplan s/w</a></p>
            </div>
            <div class="show-with-allergenes">
                <p><a download="_KW_33-2019.pdf" title="Wochenplan in Farbe herunterladen" target="_blank"
                      href="https://www.swfr.de/de/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=0&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=1&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdfAllergenes&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=e5c36a88733c75c5eded775acad35bc6"><i
                        class="fas fa-file-download" aria-hidden="true"></i> Wochenplan farbig</a></p>
                <p><a download="_KW_33-2019.pdf" title="Wochenplan in schwarz-weiß herunterladen" target="_blank"
                      href="https://www.swfr.de/de/essen-trinken/speiseplaene/mensa-offenburg/?type=99&amp;tx_swfrspeiseplan_pi1%5BweekToShow%5D=0&amp;tx_swfrspeiseplan_pi1%5Bcolored%5D=0&amp;tx_swfrspeiseplan_pi1%5Bort%5D=651&amp;tx_swfrspeiseplan_pi1%5Baction%5D=buildPdfAllergenes&amp;tx_swfrspeiseplan_pi1%5Bcontroller%5D=Speiseplan&amp;cHash=b0d4e30323a2010310bbb6cad8b55fe9"><i
                        class="fas fa-file-download" aria-hidden="true"></i> Wochenplan s/w</a></p>
            </div>
        </div>
        <div class="col-sm-4 pt-3">
            <p class="hide-with-allergenes"><a href="#" data-toggle="modal" data-target="#allergenesModal"><i
                    class="fas fa-redo-alt"></i> Allergiehinweise anzeigen</a></p>
            <p class="show-with-allergenes"><a href="#" class="btn-hide-allergenes"><i class="fas fa-undo-alt"></i>
                Allergiehinweise verbergen</a></p>
        </div>
    </div>
    <div class="tab-content">
        <div id="tab-mon" class="menu-tagesplan tab-pane fade">
            <h3>Montag 12.08.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben">
                    <i class="glyphicons glyphicons-circle-info"></i>
                </div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4>
                </div>
            </div>
        </div>
        <div id="tab-tue" class="menu-tagesplan tab-pane fade">
            <h3>Dienstag 13.08.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben">
                    <i class="glyphicons glyphicons-circle-info"></i>
                </div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4>
                </div>
            </div>
        </div>
        <div id="tab-wed" class="menu-tagesplan tab-pane fade">
            <h3>Mittwoch 14.08.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben">
                    <i class="glyphicons glyphicons-circle-info"></i>
                </div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4>
                </div>
            </div>
        </div>
        <div id="tab-thu" class="menu-tagesplan tab-pane fade">
            <h3>Donnerstag 15.08.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben">
                    <i class="glyphicons glyphicons-circle-info"></i>
                </div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4>
                </div>
            </div>
        </div>
        <div id="tab-fri" class="menu-tagesplan tab-pane fade in show active">
            <h3>Freitag 16.08.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben">
                    <i class="glyphicons glyphicons-circle-info"></i>
                </div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4>
                </div>
            </div>
        </div>
        <div id="tab-sat" class="menu-tagesplan tab-pane fade">
            <h3>Samstag 17.08.</h3>
            <div class="row row-narrow row-buffer row-table">
                <div class="col-md-1 bg-beige-hell zusatzangaben">
                    <i class="glyphicons glyphicons-circle-info"></i>
                </div>
                <div class="col-md-11 border-beige-hell">
                    <h4>heute keine Essensausgabe</h4>
                </div>
            </div>
        </div>
    </div>
</div>
